livekit-wakeword[listener]
silero-vad
funasr
modelscope
addict
scipy
soundfile
requests
numpy
python-dotenv
fastapi
uvicorn
python-multipart
pypinyin
torch
pyaudio
unidecode
phonemizer
datasets
onnxruntime
